.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5em;
    padding: 0;
}

.recipeImage {
    object-fit: cover;
    height: 80vh;
    width: 30vw;
    flex: 1 1 0;
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.contentText { 
    flex: 1 1 0;
    font-weight: bold;
    align-self: flex-start;
}

