.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3em;
    background-color: rgba(61, 0, 0, 0.699);
}

.recipeImage {
    object-fit: cover;
    height:100%;
    min-height: 80vh;
    width: 30vw;
    /* flex: 1 1 0; */
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.contentText { 
    flex: 1 0 0;
    font-weight: bold;
    /* align-self: flex-start; */
    color: white;
    margin: 1em;
    overflow-y: hidden;
}

